./vendor
diagnostic.data/
.idea
.DS_Store
influxdb_data/
./ftdc_exporter/vendor
.cursor/
mongodb_ftdc_decoder/
grafana/backups/
grafana/DASHBOARD.md
grafana/dashboards/bkp.json
grafana/dashboards/my.json